@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-container {
    @apply mx-[15px] lg:mx-[50px];
  }
  .btn {
    @apply rounded-[5px] px-[10px] py-2 transition-all cursor-pointer font-medium text-sm min-w-[95px];
  }
  .btn-primary {
    @apply bg-primary text-black;
  }
  .btn-secondary {
    @apply bg-secondary text-white;
  }
  .btn-link {
    @apply bg-[#272727] hover:bg-primary-dark hover:bg-opacity-30 rounded-full text-lg text-gray-400 transition hover:text-primary;
  }
  .btn-link--active {
    @apply text-primary bg-primary-dark bg-opacity-30;
  }

  .rounded-default {
    @apply rounded-[5px];
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .half-space {
    @apply [word-spacing:-4px];
  }
  .scrollbar--custom {
    @apply scrollbar-thin scrollbar-thumb-primary scrollbar-track-black scrollbar-thumb-rounded-md scrollbar-track-rounded-md;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
