.swiper-button-next,
.swiper-button-prev {
  display: none;
  color: rgb(229 231 235);
  transition: all ease 0.3s;
  margin: 0 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgb(30 41 59);
}
